<div class="header_filters">
<ul style="text-align:center">
	<li class="pavan">Size <img src="img/down.png" width="13px">
	<ul class="pavans">
      <li><input type="checkbox" value="s">S</li>
      <li><input type="checkbox" value="s">X</li>
      <li><input type="checkbox" value="s">XL</li>
      <li><input type="checkbox" value="s">XXL</li>
      <li><input type="checkbox" value="s">XXXL</li>
    </ul>
	</li>
	<li>Color <img src="img/down.png" width="13px"></li>
	<li>Brands <img src="img/down.png" width="13px"></li>
	<li>Sort <img src="img/down.png" width="13px"></li>
</ul>
</div>
	<section id="wrapper">	
		<div class="max-width">	
			<div class="row">
			<div class="col-lg-12">
			<div class="wishlist-col-lg-3 wrapper-bg bg1 aligncenter siddhupadding" ng-repeat="collection in collections">
					<span class="product-label" style="background:transparent">
 						<my-delete-component src="delete.svg" data={{collection}} ng-click="delete(collection)"></my-delete-component>
					</span>
					<img src="{{collection.url}}" class="img-responsive" alt="">
					<div class="product-title">
						<h5>
							<a href="productdetail.html">{{collection.name}}</a>
						</h5>
						<span class="price">{{collection.price}}</span>
					</div>
					
					<div class="product-title-mobile">
					<p class="truncate">Product name</p>
						<span>$50.00</span>	
					</div>
			</div>						
			</div>
			</div>						
</body>