/* CSS Document */
.menu-tabs{
background-color:#ffffff;
overflow-x: auto;
 overflow-y: hidden;
   display: -webkit-box;
     display: -moz-box;
}
.item_list_container .list-group {
	margin-bottom:0px;
}
.item_list_container .list-group .list-group-item .img-rounded {
width:60px; 
height:60px; 
float:left; 
background-color:#AAAAAA; 
margin-right:10px;
background-repeat: no-repeat;
  background-size: 60px 60px;
}
.item_list_container .list-group .list-group-item .list-group-item-heading {
	font-size:16px; 
	padding-bottom:2px; 
	margin-bottom:1px;
}
.item_list_container .list-group .list-group-item .p_desc {
padding: 0px 0px 1px; 
font-size:9px; 
margin-bottom:0px;
}
.item_list_container .list-group .list-group-item .operations {
position: relative;
}
.p_price {
	 margin-bottom:2px;
	 
	
	}
.item_list_container .list-group .list-group-item .operations .quantity {
	position: absolute; bottom: 0px; right: 0px;
	
	
	}
.item_list_container .list-group .list-group-item .operations .checkout_quantity {
	position: absolute; bottom: 0px; left:80px;
	
	
	}
.status_menu_bar {
background-color:#000; margin:0px 0px 0px 0px; border:none; min-height:30px; border-radius:0px;

}
.top_header_bar {
background-color:#FF3538; margin:0px 0px 0px 0px; border:none; min-height:30px; border-radius:0px; text-align:center

}
.discount_lable{
background-color:#34495E; border-radius:50%; width:53px; height:53px; position: absolute; top: -8px; right: -5px;  z-index: 1000; text-align:center;
}
.discount_lable p{
color:#FFFFFF; font-size:9px; padding-top:0px; margin-top:8px;
}
.item_cart_quantity_status{
	margin-left:2px; padding:1px 2px 1px 1px; background-color:#FFFFFF; color:#F52C2F; font-size:15px;
	
	}
.page_content .loader {
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align:middle;
	padding-top:50%;;
	text-align:center;
	color:#FFFFFF
}
.page_content .loader h5 {
	color:#FFFFFF}
	.loading_block {
		
		display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align:middle;
	
	text-align:center;
	color:#FFFFFF
		}
