<!-- <div class="container"  data-ng-show="parentObj.header2==false">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" ng-click="about()"><i class="fa fa-home"></i>Siddhu Vydyabhushana</a></li>
        <li><a href="#images"><i class="fa fa-comment"></i> Images</a></li>
        <li><a href="#skills"><i class="fa fa-comment"></i> Skills</a></li>
        <li><a href="#images">mail to :{{email.daffa}}</a></li>
        <li><button ng-click="sid();">hie</button></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" ><img src="images/profile.png"/></a></li>
        <li data-ng-show="parentObj.headerSearch==true"><input class="headerInput"  ng-disabled="parentObj.headerSearch" ng-model="headerInput" placeholder="Type here to know about me...." ui-items="names" type="text" auto-complete></li>        
      </ul>
    </div>-->


    <div class="header2">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/about" ng-click="about()"><i class="fa fa-home"></i>Siddhu Vydyabhushana</a></li>
        <li><a href="#/skills"><i class="fa fa-comment"></i> Skills</a></li>
        <li><a href="#/images"><i class="fa fa-comment"></i> Images</a></li>
        
        
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" ><img src="images/profile.png"/></a></li>
        <li data-ng-show="parentObj.headerSearch==true"><input class="headerInput"  ng-disabled="parentObj.headerSearch" ng-model="headerInput" placeholder="Type here to know about me...." ui-items="names" type="text" auto-complete></li>        
      </ul>

</div>