<!-- <div class="container"  data-ng-show="parentObj.header2==false">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" ng-click="about()"><i class="fa fa-home"></i>Siddhu Vydyabhushana</a></li>
        <li><a href="#images"><i class="fa fa-comment"></i> Images</a></li>
        <li><a href="#skills"><i class="fa fa-comment"></i> Skills</a></li>
        <li><a href="#images">mail to :{{email.daffa}}</a></li>
        <li><button ng-click="sid();">hie</button></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" ><img src="images/profile.png"/></a></li>
        <li data-ng-show="parentObj.headerSearch==true"><input class="headerInput"  ng-disabled="parentObj.headerSearch" ng-model="headerInput" placeholder="Type here to know about me...." ui-items="names" type="text" auto-complete></li>        
      </ul>
    </div>-->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a href="#/about">About</a>
  <a href="#/skills">Skills</a>
  <a href="#/contact">Hire Me</a>
</div>

    <div class="header2">
            <ul class="nav navbar-nav navbar-left">
        <li><a href="#" ng-click="openNav()"  class="nopadding">☰ <img src="images/profile.png"/><b> Siddhu.Info </b></a></li>
       </ul>

</div>
<div class="sub_header">
      
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/about" ng-click="menu('about')" ng-class="{active: classVar=='about'}"></i>Profile</a></li>
        <li><a href="#/skills" ng-click="menu('skills')" ng-class="{active: classVar=='skills'}" ><i class="fa fa-comment" ></i> Skills</a></li>
        <li><a href="#/work" ng-click="menu('contact')" ng-class="{active: classVar=='contact'}"><i class="fa fa-comment"></i> Experiments</a></li>
        <li><a href="#/projects" ng-click="menu('projects')" ng-class="{active: classVar=='projects'}"><i class="fa fa-comment"></i> Projects</a></li>
        <li><a href="#/contact" ng-click="menu('work')" ng-class="{active: classVar=='work'}"><i class="fa fa-comment"></i> Contact</a></li>
        <li><a href="#/contact" ng-click="menu('dontclick')" ng-class="{active: classVar=='dontclick'}" style="color:red"><i class="fa fa-comment"></i> Don't Click</a></li>
        <li><a href="https://github.com/jacoborus/nanobar"><svg aria-hidden="true" class="octicon octicon-mark-github" height="15" version="1.1" viewBox="0 0 16 16" width="15"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg></a></li>
        </ul>

</div>


    <div class="mobileNav">
      
      <div id="nav">
    <div id="nav-wrapper">
        <ul>
            <li><a href="#/" ng-class={active:nav.home}>Home </a></li>
            <li><a href="#/about" ng-class={active:nav.about}>About</a></li>
            <li><a href="#/skills" ng-class={active:nav.skills}>Skills</a></li>
            <li><a href="#/contact" ng-class={active:nav.contact}>Contact</a></li>
        </ul>
    </div>
</div>

</div>