<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a href="#/about">About</a>
  <a href="#/skills">Skills</a>
  <a href="#/contact">Hire Me</a>
</div>

    <div class="header2">
            <ul class="nav navbar-nav navbar-left">
        <li><a href="#" ng-click="openNav()"  class="nopadding">☰ <img src="images/profile.png"/><b> Siddhu.Info </b></a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="dropdown">
 
</div>
        </li>
       </ul>

</div>
<div class="sub_header">
      
 

</div>


    <div class="mobileNav">
      
      <div id="nav">
    <div id="nav-wrapper">
        <ul>
            <li><a href="#/" ng-class={active:nav.home}>Home </a></li>
            <li><a href="#/about" ng-class={active:nav.about}>About</a></li>
            <li><a href="#/skills" ng-class={active:nav.skills}>Skills</a></li>
            <li><a href="#/contact" ng-class={active:nav.contact}>Contact</a></li>
        </ul>
    </div>
</div>

</div>
